<%- include('partials/header'); -%>

<form action="/searchMovies" method="post">
  <!-- search section -->
  <div class="container-fluid">
    <div class="row">
      <!-- <form action="/searchMovie" method="post"> -->
        <div class="col-5">

          <select class="selectpicker form-control-sm" title="Find All Movies" data-live-search="true" data-width="42%" data-style="btn-dark" name="SearchMovie" >
            <% movies.forEach(function(movie){ %>
              <option class="opt-style" value="<%=movie.movieID%>"><%=movie.movieName%></option>
          <% }); %> 
          </select>

          <select class="selectpicker form-control-sm" title="at Selected Branches" data-live-search="true"
                  data-width="56%" data-style="btn-dark" name="SearchBranch">
                  <% branchs.forEach(function(branch){ %>
                    <option class="opt-style" value="<%=branch.branchID%>"><%=branch.branchName%></option>
                <% }); %> 
            </select>      
        </div>
        <div class="col-3">
          <button class="button btn-showtime" type="submit">Showtime</button> 
        </div>
      <!-- </form> -->

      <div class="col-3">
        <div class="form-inline search">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search...">
          <span><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      </div>
    </div>
  </div>
</form>

<div id="slider" class="carousel slide" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#slider" data-slide-to="0" class="active"></li>
     <li data-target="#slider" data-slide-to="1"></li>
     <li data-target="#slider" data-slide-to="2"></li>
     <li data-target="#slider" data-slide-to="3"></li>
     <li data-target="#slider" data-slide-to="4"></li>
   </ol>
   <div class="carousel-inner" style="max-height: 580px;">
     <div class="carousel-item active">
       <img class="cover-carousel w-100" src="https://sv1.picz.in.th/images/2020/03/29/Q25dCE.jpg" alt="First slide">
       <img class="poster-carousel" src="https://sv1.picz.in.th/images/2020/03/29/Q250IN.jpg" alt="spiderman Poster">
       <div class="title-carousel">Spider-Man:<br> Into the Spider-Verse</div>
       <div class="info-carousel">
         <span>Animation/Action ‧ 1h 56m<br><br></span>
 

         <span><p>After gaining superpowers from a spider bite, 
           Miles Morales protects the city as Spider-Man. 
           Soon, he meets alternate versions of himself and gets 
           embroiled in an epic battle to save the multiverse.</p></span>
       </div>
     </div>
     <div class="carousel-item">
       <img class="cover-carousel w-100" src="https://sv1.picz.in.th/images/2020/04/30/Ujwafv.png" alt="Second slide">
       <img class="poster-carousel" src="https://sv1.picz.in.th/images/2020/04/30/UjtMUu.png" alt="BirdPrey Poster">
     </div>

     
     <div class="carousel-item">
       <img class="cover-carousel w-100" src="https://sv1.picz.in.th/images/2020/04/30/UlOA6a.png" alt="Third slide">
       <img class="poster-carousel" src="https://sv1.picz.in.th/images/2020/04/30/UlqZXf.png" alt="Emma Poster">
     </div>

     <div class="carousel-item">
      <img class="cover-carousel w-100 " src="https://sv1.picz.in.th/images/2020/04/30/Ulj3GE.png" alt="Third slide">
      <img class="poster-carousel" src="https://sv1.picz.in.th/images/2020/04/30/UlEHuW.png" alt="Kingsman">
    </div>

    <div class="carousel-item">
      <img class="cover-carousel w-100 " src="https://sv1.picz.in.th/images/2020/04/30/UljvJv.png" alt="Fourth slide">
      <img class="poster-carousel" src="https://sv1.picz.in.th/images/2020/04/30/UljLEN.png" alt="Harry Potter">
    </div>


     


   </div>
   <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
 </div>

 <!-- Movies -->
 <div class="container-fluid">
   <div class="row mv-row">
     <h4>Movies</h4>
     <div class="movies ml-auto">
       <ul class="nav">
         <li class="nav-item"><a class="nav-link active" data-target="#nowShowing" href="#">Now Showing</a></li>
         <li class="nav-item"><a class="nav-link" data-target="#comingSoon" href="#">Coming Soon</a></li>
       </ul>
     </div>
   </div>
   <div class="movies">
     <section class="movies-list" id=moviesList>
       <article id="nowShowing" class="active">
         <div class="row nowshowing">
           <div class="col movie">
             <div class="show">
              <%
              if (movies.length!=0) {
              var i=1;
              movies.forEach(function(doneMovies) {
              %>
               <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QL1HAg.jpg" alt="sonic.jpg">
               <div class="title"><%= doneMovies.movieName %></div>
               <!-- <% i++; }) %> -->
               <% } %>
               <div class="info">
                 <span class="genres">Adventure/Comedy<br></span>
                 <span class="lenght">1h 40m</span>
               </div>
             </div>

             <div class="hide-left">
               <div class="detail">
                 <div class="row">
                   <span class="theater">2D</span>
                 </div>
                 <div class="row">
                   <span class="col rating">6.6/10<br><b>IMDb</b></span>
                   <span class="col rating spacial">64%<br><b>Rotten Tometoes</b></span>
                   <span class="col rating">47%<br><b>Metacritic</b></span>
                 </div>
                 <div class="row plot">
                  <%
                  if (movieDetail.length!=0) {
                  var i=1;
                  movieDetail.forEach(function(donemovieDetail) {
                  %>
                    <p><br><%= donemovieDetail.movieDetail %></p>
                    <!-- <% i++; }) %> -->
                   <% } %>
                 </div>
                 <div class="row date">
                   <div class="col cdate">
                    <%
                    if (releaseDay.length && releaseMonth.length && releaseYear.length !=0) {
                    var i=1;
                    releaseDay.forEach(function(doneReleaseDay){ 
                    %>

                     <div class = 'row'><b>Release date:</b><%= doneReleaseDay.ReleaseDay %>
                      <!-- <% i++; }) %> --> 
                        <% } %></div>
                        

                     <div><b>End date:</b> Macrh 10, 2020</div>
                   </div>
                 </div>
               </div> 
             </div>

           </div>
           
           <div class="col movie">
             <div class="show">
               <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QL1TY9.jpg" alt="emma.jpg">
               <div class="title">Emma.</div>
               <div class="info">
                 <span class="genres">Drama/Melodrama<br></span>
                 <span class="lenght">2h 12m</span>
               </div>
             </div>
             <div class="hide-left">
               <div class="detail">
                 <div class="row th">
                   <span class="theater">2D</span>
                 </div>
                 <div class="row">
                   <span class="col rating">6.8/10<br><b>IMDb</b></span>
                   <span class="col rating spacial">86%<br><b>Rotten Tometoes</b></span>
                   <span class="col rating">71%<br><b>Metacritic</b></span>
                 </div>
                 <div class="row plot">
                   <p><br>Following the antics of a young woman, 
                    Emma Woodhouse, 
                    who lives in Georgian- 
                    and Regency-era England and occupies 
                    herself with matchmaking - 
                    in sometimes misguided, 
                    often meddlesome fashion- 
                    in the lives of her friends and family.</p>
                 </div>
                 <div class="row date">
                   <div class="col cdate">
                     <div><b>Release date:</b> February 14, 2020</div>
                     <div><b>End date:</b> -</div>
                   </div>
                 </div>
               </div> 
             </div>
           </div>
           <div class="col movie">
             <div class="show">
             <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QLKO4y.jpg" alt="dolittle.jpg">
             <div class="title">Dolittle</div>
             <div class="info">
               <span class="genres">Fantasy/Family<br></span>
               <span class="lenght">1h 41m</span>
             </div>
             </div>
             <div class="hide-left">
               <div class="detail">
                 <div class="row">
                   <span class="theater">2D</span>
                   <span class="theater">3D</span>
                 </div>
                 <div class="row">
                   <span class="col rating">5.6/10<br><b>IMDb</b></span>
                   <span class="col rating spacial">15%<br><b>Rotten Tometoes</b></span>
                   <span class="col rating">-<br><b>Metacritic</b></span>
                 </div>
                 <div class="row plot">
                   <p><br>Dr. John Dolittle lives in solitude behind the high walls of his lush manor in 19th-century England. His only companionship comes from an array of exotic animals that he speaks to on a daily basis. But when young Queen Victoria becomes gravely ill, the eccentric doctor and his furry friends embark on an epic adventure to a mythical island to find the cure.</p>
                 </div>
                 <div class="row date">
                   <div class="col cdate">
                     <div><b>Release date:</b> February 14, 2020</div>
                     <div><b>End date:</b> -</div>
                   </div>
                 </div>
               </div> 
             </div>
           </div>
           <div class="col movie">
             <div class="show">
             <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QLKjr9.jpg" alt="QLKjr9.jpg">
               <div class="title">Harley Quinn: Birds of Prey</div>
               <div class="info">
                 <span class="genres">Action/Adventure<br></span>
                 <span class="lenght">1h 49m</span>
               </div>
             </div>
             <div class="hide-right">
               <div class="detail">
                 <div class="row">
                   <span class="theater">2D</span>
                   <span class="theater">3D</span>
                 </div>
                 <div class="row">
                   <span class="col rating">6.2/10<br><b>IMDb</b></span>
                   <span class="col rating spacial">78%<br><b>Rotten Tometoes</b></span>
                   <span class="col rating">60%<br><b>Metacritic</b></span>
                 </div>
                 <div class="row plot">
                   <p><br>It's open season on Harley Quinn when her explosive breakup with the Joker puts a big fat target on her back. Unprotected and on the run, Quinn faces the wrath of narcissistic crime boss Black Mask, his right-hand man, Victor Zsasz, and every other thug in the city. But things soon even out for Harley when she becomes unexpected allies with three deadly women -- Huntress, Black Canary and Renee Montoya.</p>
                 </div>
                 <div class="row date">
                   <div class="col cdate">
                     <div><b>Release date:</b> February 5, 2020</div>
                     <div><b>End date:</b> -</div>
                   </div>
                 </div>
               </div> 
             </div>
           </div>
           <div class="col movie">
             <div class="show">
             <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QLK29q.jpg" alt="QLK29q.jpg">
             <div class="title">The King's Man</div>
               <div class="info">
                 <span class="genres">Action/Adventure<br></span>
                 <span class="lenght">2h 10m</span>
             </div>
           </div>
           <div class="hide-right">
             <div class="detail">
               <div class="row">
                 <span class="theater">2D</span>
                 <span class="theater">3D</span>
               </div>
               <div class="row">
                 <span class="col rating">6.2/10<br><b>IMDb</b></span>
                 <span class="col rating spacial">78%<br><b>Rotten Tometoes</b></span>
                 <span class="col rating">60%<br><b>Metacritic</b></span>
               </div>
               <div class="row plot">
                 <p><br>It's open season on Harley 
                  Quinn when her explosive 
                  breakup with the Joker puts a big 
                  fat target on her back. 
                  Unprotected and on the run, 
                  Quinn faces the wrath of narcissistic 
                  crime boss Black Mask, his right-hand man, 
                  Victor Zsasz, and every other thug in the city. 
                  But things soon even out for Harley when she becomes unexpected 
                  allies with three deadly women -- Huntress, 
                  Black Canary and Renee Montoya.</p>
               </div>
               <div class="row date">
                 <div class="col cdate">
                   <div><b>Release date:</b> February 5, 2020</div>
                   <div><b>End date:</b> -</div>
                 </div>
               </div>
             </div> 
           </div>
         </div>

         <div class="row nowshowing">
           <div class="col movie">
             <!--New row-->
           </div>
         </div>
       </article>
       <article id="comingSoon">
         <div class="row-month">
           <span class="vl"></span>
           <span class="month">Month#1</span>
         </div>
         <div class="row comingsoon">
           <div class="col movie">
             <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QLZBUy.jpg" alt="QLZWcQ.jpg">
             <div class="title">Peter Rabbit 2: The Runaway</div>
               <div class="info">
                 <span class="genres">Adventure/Comedy<br></span>
                 <span class="lenght">1h 25m</span>
               </div>
           </div>
           <div class="col movie">
             <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QLZPSN.jpg" alt="QLZSTg.jpg" >
             <div class="title">The New Mutants</div>
               <div class="info">
                 <span class="genres">Horror/Fantasy<br></span>
                 <span class="lenght">1h 39m</span>
               </div>
           </div>
           <div class="col movie">
             
           </div>
           <div class="col movie">
             
           </div>
           <div class="col movie">
             
           </div>
         </div>
         
         <div class="row-month2">
           <span class="vl"></span>
           <span class="month">Month#2</span>
         </div>
         <div class="row comingsoon">
           <div class="col movie">
             <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QLZBUy.jpg" alt="QLZWcQ.jpg">
             <div class="title">Peter Rabbit 2: The Runaway</div>
               <div class="info">
                 <span class="genres">Adventure/Comedy<br></span>
                 <span class="lenght">1h 25m</span>
               </div>
           </div>
           <div class="col movie">
             <img class="poster" src="https://sv1.picz.in.th/images/2020/04/07/QLZPSN.jpg" alt="QLZSTg.jpg" >
             <div class="title">The New Mutants</div>
               <div class="info">
                 <span class="genres">Horror/Fantasy<br></span>
                 <span class="lenght">1h 39m</span>
               </div>
           </div>
           <div class="col movie">
             
           </div>
           <div class="col movie">
             
           </div>
           <div class="col movie">
             
           </div>
         </div>
       </article>
     </section>
   </div>
 </div> 
</body>
</html>